<html>
<head>
    <title>Permanent Vacations</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/javascripts/lib/angular-google-places-autocomplete/src/autocomplete.css">

    <!-- bower:js-->
    <script src="/javascripts/lib/jquery/dist/jquery.js"></script>
    <script src="/javascripts/lib/angular/angular.js"></script>
    <script src="/javascripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- endbower-->

    <!-- bower:css -->
    <link rel="stylesheet" href="/javascripts/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <script src="/javascripts/lib/angular-google-places-autocomplete/src/autocomplete.js"></script>  
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/angular-moment.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    
</head>
<body ng-app="vacacionesPermanentes" ng-controller="MainCtrl">

<div class="page-header">
	<div>
        <h1>Permanent Vacations</h1>
    </div>

	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
	    <ul class="nav navbar-nav">
	        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
	        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
	        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
	        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
	    </ul>
	</nav>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
    </div>
</div>

<script type="text/ng-template" id="/home.html">
    <div ng-show="trips.length > 0">
	    <div>
	    	<h2>My trips</h2>
	    </div>
	    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th> </th>
          </tr>
        </thead>
        <tbody ng-repeat="trip in trips track by $index">
          <tr>
            <td>
            	<span>
            		<a href="#/trips/{{trip._id}}">{{trip.name}}</a>
        		</span>
        	</td>
          	<td>{{trip.start | date:'yyyy-MM-dd'}}</td>
            <td>{{trip.end | date:'yyyy-MM-dd'}}</td>
            <td>
            	<button ng-click="deleteTrip(trip._id)">
	      			<span class="glyphicon glyphicon-remove-circle"</span>
	      		</button>
          	</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <form ng-submit="addTrip()"
          style="margin-top:30px;">
        <h3>Add trip</h3>
		Name
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="name"
                   ng-model="trip.name" required></input>
        </div>
        Start
        <div class="form-group">
            <input type="date" class="form-control" ng-model="trip.start"
       			placeholder="Start yyyy-MM-dd" required />
        </div>
        End
        <div class="form-group">
            <input type="date" class="form-control" ng-model="trip.end"
       			placeholder="yyyy-MM-dd" required />
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</script>

<script type="text/ng-template" id="/trips.html">
 	<a class="btn btn-danger" href="#/home">
	  <span class="glyphicon glyphicon-home"></span>
	</a> 
 	
 	<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>{{trip.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>Start</td>
        <td>{{trip.start | date:'yyyy-MM-dd'}}</td>
      </tr>
      <tr class="danger">
        <td>End</td>
        <td>{{trip.end | date:'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table" ng-if="trip.destinations.length > 0">
  <thead>
  <th>Cities</th>
  <th>Arrival</th>
  <th>Departure</th>
  <th></th>
  </thead>
  <tbody>
        <tr ng-repeat="city in trip.destinations">
        <td>{{city.name}}</td>
        <td>{{city.arrival | date:'yyyy-MM-dd'}}</td>
        <td>{{city.departure | date:'yyyy-MM-dd'}}</td>
        <td>
        <button ng-click="deleteDestination(city)">
              <span class="glyphicon glyphicon-remove-circle"</span>
            </button>
        </td>
      </tr>
  </tbody>
  </table>

  <h3 ng-if='trip.destinations.length == 0'> No destinations selected </h3>

  <h1> Add new city to trip </h1>
    <form ng-submit="addDestination()"
    style="margin-top:30px;">
    <div class="form-group">
      <input type="text"
      g-places-autocomplete
      class="form-control"
      placeholder="Destination"
      ng-model="city.name"></input>
      <br>
      <div class="form-group">
          Arrival
            <input type="date" class="form-control" ng-model="city.arrival"
            placeholder="Start yyyy-MM-dd" required></input>
            <br>
            Departure
            <input type="date" label="Departure" class="form-control" ng-model="city.departure"
            placeholder="Start yyyy-MM-dd" required></input>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  
</script>

<script type="text/ng-template" id="/register.html">
    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
          style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username"></input>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</script>
<script type="text/ng-template" id="/login.html">
    <div class="page-header">
        <h1>Permanent Vacations</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
          style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username"></input>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</script>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
            <h3 class="modal-title">Delete the trip?</h3>
        </div>
       
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Yes</button>
            <button class="btn btn-warning" ng-click="cancel()">No</button>
        </div>
</script>

<script type="text/ng-template" id="DeleteCityModal.html">
    <div class="modal-header">
            <h3 class="modal-title">Delete the city {{destination.name}}?</h3>
        </div>
       
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Yes</button>
            <button class="btn btn-warning" ng-click="cancel()">No</button>
        </div>
</script>
</body>
</html>